@media screen and (max-width:850px)
{
    section#fundal{
        margin-right: 2rem;
        margin-top: 4px;
        margin-left: 2rem;
        background-image:url("istorie2.jpg");
    }

    div#coloane{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        /*padding: 2rem;*/
    }
    div#coloane > section{
        flex-basis:10px;
        flex-grow: 1;
        padding: 2%;
        margin: 2%;
        background-color:rgba(255,255,255,0.6);
    }
    section p{
        text-decoration-style: solid;
        text-align: left;
    }


    section#poze > div
    {
        display: grid;
        justify-content:center;
        grid-template-areas:
    'poza2 .'
    '. poza3'
    'poza4 .'
    '. poza1';
        grid-gap: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}